input[type="text"],input[type="password"]
{
  background-color: #f3f3f3;
  border: none;
  font-weight:500;
  padding-top: 15px;
  padding-bottom: 15px;
}
::placeholder
{
  font-size: larger;
}
span{
  color: #179bd8;
  font-size: x-large;
}
button[type="submit"]
{
  padding-left: 10px;
  padding-right: 10px;
  font-size: larger; 
  font-weight: bold;
   background-color: #fa6400; 
  color: white
}
a.link{
  color:#179bd8 ;
  text-decoration: none;
}
@media screen and (max-width: 500px) {
 .sign{
    justify-content: center;
    margin: auto;
  }
}

